name: Setup tippecanoe

on:
  # Runs on pushes targeting the default branch
  push:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  TIPPECANOE_PATH: ./tippecanoe
  DATA_PATH: ./data
  KSJ_ID: N05
  KSJ_YEAR: "22"

jobs:
  setup:
    name: Setup tippecanoe
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Restore cache
        id: restore-cache
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.DATA_PATH }}
          key: ${{ runner.os }}-ksj-vt-${{ hashFiles('public') }}
          restore-keys: |
            ${{ runner.os }}-ksj-vt-
  
  tippecanoe:
    name: Tippecanoe
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Clone tippecanoe
        uses: actions/checkout@v4
        with:
          repository: felt/tippecanoe
          path: ${{ env.TIPPECANOE_PATH }}
          fetch-depth: 0
      
      # https://zenn.dev/kabuakantech/articles/c6bb510e631f1f
      - name: Change owner
        run: |
          sudo chown -R runner:docker /usr/local/share/

      - name: Make
        run: |
          cd ${{ env.TIPPECANOE_PATH }}
          make -j
          make install
          cd ../
      
      - name: Test
        run: |
          tippecanoe --help

  download:
    name: Download ksj files
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Download files & unzip
        run: |
          curl -L https://nlftp.mlit.go.jp/ksj/gml/data/${{ env.KSJ_ID }}/${{ env.KSJ_ID }}-${{ env.KSJ_YEAR }}/${{ env.KSJ_ID }}-${{ env.KSJ_YEAR }}_GML.zip -o ${{ env.DATA_PATH }}.zip
          unzip ${{ env.DATA_PATH }}.zip -d ${{ env.DATA_PATH }}

  generate:
    name: Generate pmtiles
    runs-on: ubuntu-latest
    needs: [setup, tippecanoe, download]
    steps:
      - name: Generate
        run: |
          tippecanoe -o ./dist/${{ env.KSJ_ID }}-${{ env.KSJ_YEAR }}.pmtiles -Z4 -z15 \
          -L section:${{ env.DATA_PATH }}/${{ env.KSJ_ID }}-${{ env.KSJ_YEAR }}_GML/utf8/${{ env.KSJ_ID }}-${{ env.KSJ_YEAR }}_RailroadSection2.geojson
          -L station:${{ env.DATA_PATH }}/${{ env.KSJ_ID }}-${{ env.KSJ_YEAR }}_GML/utf8/${{ env.KSJ_ID }}-${{ env.KSJ_YEAR }}_Station2.geojson
