name: Download test

on:
  # Runs on pushes targeting the default branch
  push:
    branches-ignore:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  DATA_PATH: ./data

jobs:  
  download:
    name: Download ksj files
    runs-on: ubuntu-latest
    steps:
      - name: Read config
        id: read_config
        uses: pietrobolcato/action-read-yaml@1.1.0
        with:
          config: ${{ github.workspace }}/config.yml
      
      - name: Define variables
        id: variables
        run: |
          echo "id=${{ steps.read_config.outputs.id }}" >> $GITHUB_OUTPUT
          echo "path=${{ steps.read_config.outputs.id }}-${{ steps.read_config.outputs.year }}" >> $GITHUB_OUTPUT
          echo "filename=${{ steps.read_config.outputs.id }}-${{ steps.read_config.outputs.year }}_${{ steps.read_config.outputs.type }}" >> $GITHUB_OUTPUT

      - name: Download files & unzip
        run: |
          curl -L https://nlftp.mlit.go.jp/ksj/gml/data/${{ steps.variables.outputs.id }}/${{ steps.variables.outputs.path }}/${{ steps.variables.outputs.filename }}.zip -o ${{ env.DATA_PATH }}.zip
          unzip ${{ env.DATA_PATH }}.zip -d ${{ env.DATA_PATH }}
      
      - name: Check tree
        run: tree ${{ env.DATA_PATH }}
